body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: navy; */
    
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(247, 239, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/newl.jpg);
}

h1, h2 {
    text-align: center;
}

.questions-list {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-list ul {
    list-style: none;
    padding: 0;

}

.questions-list li {
    display: inline-block;
    border: 1px solid black;
    font-size: 40px;
    margin-left: 10px;
    margin-right:10px ;
    padding: 30px;
    background: #f9e504;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

/* .logo {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
    margin-top: -150px;
} */

.questions-list li.taken {
    background: #ff0000; /* Red for taken */
}

.question-display {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #14031653;
    color: white;
}

#questionText{
    font-size: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
    margin-top: -60px;
}
.header {
    text-align: center;
}


.title{
    font-size: 75px;
    color: #ffffff;
    background-color: #91000c;
    filter: drop-shadow(2px 2px 0 orange);
    font-weight: 400;
    font-family: Impact;
    margin-top: -30px;
}

.slogan{
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(0, 255, 26);
    background-color: black;
    margin-top: -50px;
}